.alert {
  color: red;
  background: lightgray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.attention {
  color: green;
  background: lightgray;
  font-size: 20px;
  font-weight: bold;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
